asgiref==3.5.0
astroid==2.11.5
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
cohesion==1.0.0
colorama==0.4.4
coverage==6.3.2
cx-Oracle==8.3.0
dill==0.3.4
Django==4.0.3
django-bootstrap-v5==1.0.11
django-smoketest==1.2.0
future==0.18.2
isort==5.10.1
lazy-object-proxy==1.7.1
mando==0.6.4
mccabe==0.7.0
Pillow==9.0.1
platformdirs==2.5.2
psycopg2-binary==2.9.3
pylint==2.13.8
pylint-django==2.5.3
pylint-plugin-utils==0.7
radon==5.1.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.2.0
whitenoise==6.0.0
wrapt==1.14.1
