@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30%;
    background-color: black;
    background-size: cover;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    overflow: hidden;
}

.circle_container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10px;
    transform-origin: left center;
}

.circle_container .circle {
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.3);
    left: 0;
    opacity: 0;
    animation-name: move;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(70vmin);
        opacity: 0;
    }
}

.wrapper .name_container {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vmin;
    height: 80vmin;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 100%;
    box-shadow: inset 0px 0px 30px 30px rgba(200, 200, 200, 0.0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .name_container>div {

    color: rgba(255, 255, 255, 0.7);
}

.wrapper .name_container .name {
    font-size: 3.5vmax;
}

.wrapper .name_container .designation {
    margin-top: 10px;
    font-size: 2vmax;
}

.hero-container {
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 16px;
    margin-top: -5px;
}

.im {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;

}

.form-control {
    padding-left: 4px;
    margin: 20px;
    height: 60px;
    font-size: 24px;
    width: 500px;
    max-width: 90%;
    border-radius: 16px;
    border: none;
}

.named {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
    color: orange;
}

.form-button {
    padding: 0px 16px;
    height: 60px;
    background-color: orange;
}


/* heart icon like   */

.heart-like-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 32.5px;
}

.heart-like-button:before {
    position: absolute;
    top: 0;
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 20px;
    height: 31.25px;
    border-radius: 10px 10px 0 0;
    background-color: #999;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    width: 20px;
    height: 31.25px;
    border-radius: 10px 10px 0 0;
    background-color: #999;
    content: "";
    cursor: pointer;
    transition: background .4s;
}



.heart-like-button.liked::before,
.heart-like-button.liked::after {
    background-color: #c51104;
}

.heart-like-button.liked {
    animation: liked .4s ease;
}

@keyframes liked {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* tag card  */
.tag-card {
    position: absolute;
    left: 10px;
    top: 5px;
}