



{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    <body>
        {% include "./components/navbar.html" %}

  

    <div class="new-event">
        <h2>Share a New Event!</h2>
        <form class="site-form"method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit"value="Submit"/>
        </form>
    </div>



{% comment %} end pagination    {% endcomment %}
{% include "./components/footer.html" %}

    </body>
</html>